/node_modules
/storage/*.key
/storage/app/*
/nbproject
/public/foto
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/views/cabinet/documentlist/views/06.blade_1.php
resources/views/cabinet/chancery/канцелярия
resources/views/cabinet/document_thems/шаблоны документов
resources/views/cabinet/documentlist/список документов
resources/views/cabinet/reviewer/рецензет
/resources/views/cabinet/distrib/рассылка
